appnope==0.1.0
autopep8==1.2.2
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.4.1
click==6.6
decorator==4.0.9
futures==3.0.5
gnureadline==6.3.3
goslate==1.5.1
ipython==4.2.0
ipython-genutils==0.1.0
markovify==0.3.1
oauthlib==1.1.1
pep8==1.7.0
pexpect==4.0.1
pickleshare==0.7.2
ptyprocess==0.5.1
PyDictionary==1.5.2
requests==2.10.0
requests-oauthlib==0.6.1
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.1
tweepy==3.5.0
Unidecode==0.4.19
